* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; }

#precioTotal{
    text-align: center;
    grid-column: 2/6;
    grid-row: 6;
}

#showImg{
    text-align: center;
}

#cuerpo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1/2fr 1fr);
    margin: 3%;
    justify-items: center;
}

#cuerpoChekout {
    display: flex;  
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/8;
    grid-row: 1;
    width: 100%;
}

#buscador{
    text-align: center;
    width: 20%;
    grid-column: 2/4;
    grid-row: 1;
}

.tabla{
    grid-column: 2/6;
    grid-row: 2/6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 3px double yellowgreen;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

.imgCard{
    width: 35%;
}

.imgCheckOut{
    width: 40%;
}

#productosEnBolsa{
    font-size: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
}

#contador {
margin-left: 10px;
}

#tabla{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-column: 2/6;
    grid-row: 2/6;
}

#prodEnCheckOut{
    display: flex;

}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse}

tr{
    text-align: center;
}

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; text-align: center;}

td .imgCherckOut{
    width: 28%;
}

tr:hover td { background: #d0dafd; color: #339; }

#home{
    grid-column: 1;
    grid-row: 1;
}

a .homeJordan{
    width: 12%;
}

.totalCheckOut{
    grid-column: 3/5;
    grid-row: 6;
    display: flex;
    flex-direction: column;
}

.contadorEnCheckOut{
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
}

.swal2-cancel.btn.btn-danger{
    margin-right: 30px;
    background-color: #63F32E;
}

.swal2-confirm.btn.btn-success{
    background-color: #F3682C;
}

#tablaCompleta{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tarjetas{
    display: grid;
    grid-row: 2/6;
    grid-column: 1/9;
}

#empty{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

#finalizarCompra{
    width: 25%;
    margin: 20px auto 10px;
    background-color: white;
}

#finalizarCompra :hover{
background-color: #63F32E;
}

#gracias{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}