body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
    justify-items: center;
    justify-content: center;
}

#precioTotal{
    text-align: center;
    grid-column: 2/6;
    grid-row: 6;
}

#buscador{
    text-align: center;
    width: 20%;
    grid-column: 2/6;
    grid-row: 1;
}

.tabla{
    grid-column: 2/6;
    grid-row: 2/6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 3px double yellowgreen;
    margin: 10px;
    padding: 10px;
    min-width: 30%;
}

#productosEnBolsa{
    grid-column:6;
    grid-row: 1;
    font-size: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shoppingBag{
    margin-right: 10px;
}