body{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 3%;
    justify-items: center;
    justify-content: center;
}

#precioTotal{
    text-align: center;
    grid-column: 2/6;
    grid-row: 6;
}

#buscador{
    text-align: center;
    width: 20%;
    grid-column: 2/6;
    grid-row: 1;
}

.tabla{
    grid-column: 2/6;
    grid-row: 2/6;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border: 3px double yellowgreen;
    margin: 10px;
    padding: 10px;
    min-width: 30%;
}

#productosEnBolsa{
    grid-column:6;
    grid-row: 1;
    font-size: 180%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shoppingBag{
    margin-right: 10px;
}

#tabla{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    grid-column: 2/6;
    grid-row: 2/6;
}

#prodEnCheckOut{
    display: flex;

}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse}

tr{
    text-align: center;
}

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; text-align: center;}

tr:hover td { background: #d0dafd; color: #339; }

#home{
    grid-column: 1;
    grid-row: 1;
}

a .homeJordan{
    width: 50%;
}

.totalCheckOut{
    grid-column: 3/5;
    grid-row: 6;
}

.contadorEnCheckOut{
    display: flex;
    justify-content: space-evenly;
}